@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.navbar {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 20px 0 !important;
  background: rgba(0, 0, 0, 0.6) !important;
}

.offset::before {
  display: block;
  content: "";
  height: 6em;
}

.navbar-brand {
  color: #1ebba3 !important;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-left: 20px !important;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: #1ebba3 !important;
}
/*---------------End Navbar----------------*/

/*---------------Start About Section----------------
#about .post-heading h3 {
  font-weight: bold;
}

#about .row p {
  text-align: justify;
}

#about .row img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  object-fit: cover;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}

#about .btn {
  width: 40%;
  padding: 10px 10px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
}

#about .btn a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#about .btn:hover {
  border: 2px solid #1ebba3;
}
/*---------------End About Section----------------*/

/*---------------Start Project Section----------------
#projects .project-heading h3 {
  font-weight: bold;
}

#projects .button {
  width: 40%;
  padding: 10px 10px;
  background: #000;
  border-radius: 5px;
  margin-top: 10px;
}

#projects .button a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

#projects .button:hover {
  border: 2px solid #1ebba3;
}
/*---------------End Project Section----------------*/

/*----------------Start Contact Section--------------
#contact .contact-heading h3 {
  font-weight: bold;
}
/*----------------End Contact Section--------------*/

/*----------------Start Social--------------*/
.social .social_media {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20px;
  background: rgba(255, 0, 0, 0.747);
}
/*----------------End Social--------------*/

/*----------------Start Media Querry--------------
@media screen and (max-width: 767px) {
  /*--------Tablets---------
  .navbar {
    letter-spacing: 0.1rem;
    padding: 10px 0;
  }
  .heading-content h5 {
    font-size: 3em;
  }

  .heading-content h1 {
    font-size: 3em;
  }

  .heading-content p {
    font-size: 1em;
  }
  #about .row img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  /*--------smartphones--------
  .navbar {
    letter-spacing: 0.1rem;
    padding: 7px 0;
  }
  .heading-content h5 {
    font-size: 2em;
  }

  .heading-content h1 {
    font-size: 2em;
  }

  .heading-content p {
    font-size: 1em;
  }

  #about .row img {
    margin-bottom: 10px;
  }
}

/*----------------End Media Querry--------------*/
